.counter {
  overflow: hidden;
  &-content {
    padding: 3rem;
    background-color: var(--primary);
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: var(--success);
    font-size: 1.6rem;
    h2 {
      font-weight: bold;
    }
    &.bg-sucs {
      background-color: var(--success);
      & * {
        color: var(--primary);
      }
    }
  }
  &-item{
    padding:1rem 2rem;
  }
  .col-md-6{
    
    transition: transform .8s;
    &.animated{
      transform: translateX(-20rem);

      &:nth-of-type(1){
        transform: translateX(20rem);
      }
    }
  }
}
